.EntriesContainer {
  display: flex;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1455218873509-8097305ee378?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    center center no-repeat;
  background-size: cover;
}

.EntriesWrapper {
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.EntriesWrapper::-webkit-scrollbar {
  display:none;
}

.ui.table.EntriesTable {
  background-color: rgba(255, 255, 255, 0.7);
}

.ui.table thead tr > th {
  width: 300px;
}

.ui.table tbody tr > td {
  width: 300px;
  font-size: 18px;
}

.ui.button.showmodal--button {
  position: absolute;
  right: 0;
  margin: 25px;
}

i.edit.big.icon.edit-button {
  font-size: 1.5em;
  cursor: pointer;
}

i.red.big.icon.delete-button {
  font-size: 1.5em;
  cursor: pointer;
}

button.ui.icon.left.labeled.button {
  position: absolute;
  bottom: 0;
  margin-left: 250px;
  margin-bottom: 60px;
}
